.navbar{
    background-color: var(--theme);
    padding: 0.5rem 1.5rem;
    position: sticky;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--white);
    font-Weight: 600;
    font-Size: "1.2rem";
    margin: 5px;
}

.link{
    opacity: 0.8;
    cursor: pointer;
}

.link:hover{
    opacity: 1;
    transition: all 0.3s;
}